@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.poppins {
  font-family: var(--font-poppins), sans-serif;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utility classes per animazioni */
.animate-fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.glassbg {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.glassscuro{
  background: rgba(5, 5, 5, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(5, 5, 5, 0.3);
}

.hovercard{
  transition: all 0.3s ease-in-out;
  transform: rotateZ(5deg);
  background: white;
}
.hovercard:hover{
  transform: translateY(-25px);
  box-shadow: 0 12px 24px -4px rgba(0, 0, 0, 0.50);
}

.hovercardup{
  transition: all 0.3s ease-in-out;
}
.hovercardup:hover{
  transform: translateY(-25px);
  box-shadow: 0 12px 24px -4px rgba(255, 255, 255, 0.25);
}

.hovercolor{
  transition: all 0.3s ease-in-out;
}
.hovercolor:hover{
  background: black;
  color: white;
  transform: scale(0.95);
}